.bouton {
    appearance: none;
    cursor: pointer;
    background-color: var(--vert); color: var(--blanc);
    border-radius: 0;
    border: none;
    padding: 10px 15px;
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.4s background-color ease;

    &:hover {
        background-color: var(--vert-hover);
    }
}

.action-button {
    appearance: none;
    background-color: transparent;
    border: 0;
    padding: 0;
    position: relative;
    cursor: pointer;
    border-radius: 5px;
    background-color: var(--clair2);

    &.edit {
        padding: 5px;
        &:after {
            content: "";
            mask-image: url("./src/assets/svg/sprite.svg#edit");
            display: block;
            width: 16px; height: 16px;
            background-color: var(--blanc);
        }
    }
    &.delete {
        padding: 5px;
        &:after {
            content: "";
            mask-image: url("./src/assets/svg/sprite.svg#delete");
            display: block;
            width: 16px; height: 16px;
            background-color: var(--blanc);
        }
    }

    &:hover {
        background-color: var(--bleu-ciel);
    }
}

.field-input {
    appearance: none;
    cursor: pointer;
    background-color: var(--bleu);
    border-radius: 0;
    border: none;
    padding: 8px 10px;
    color: var(--blanc);

    &::placeholder {
        color: #ffffff7c;
    }
    
    &:focus {
        outline: 1px solid var(--clair);
        outline-offset: -1px;
    }
}
.field-file {
    appearance: none;
    cursor: pointer;
    background-color: var(--bleu);
    border-radius: 0;
    border: none;
    padding: 8px 10px;
    color: var(--blanc);

    &:focus {
        outline: 1px solid var(--clair);
        outline-offset: -1px;
    }
}
.field-select {
    appearance: none;
    cursor: pointer;
    background-color: var(--bleu);
    border-radius: 0;
    border: none;
    padding: 8px 10px;
    color: var(--blanc);

    &:focus {
        outline: 1px solid var(--clair);
        outline-offset: -1px;
    }
}