:root {
    --bleu: #2D3848;
    --bleu-clair: #3A4556;
    --dark : #293342;
    --vert: #3D9E70;
    --vert-hover: #22553d;
    --blanc: #fff;

    --bleu-ciel: #2AA3CC;

    --clair: rgba(255,255,255, 0.6);
    --clair2: rgba(255,255,255, 0.2);
}