
.ingredient-manager {
    display: grid; justify-content: center; align-items: center;
    grid-template-columns: 300px 200px;
    gap: 20px 50px;
    background-color: var(--bleu-clair);
    padding: 20px;

    .ingredient-form {
        display: flex; flex-direction: column; gap: 10px;
    }

    .bouton {
        grid-column: 1 / 2 span;
    }


}
.ingredient-list {
    background-color: var(--bleu-clair);
    padding: 20px;
    display: flex; flex-wrap: wrap; gap: 20px;
}