.filter {
    display: flex;gap: 30px;justify-content: space-evenly;
    margin: 0 30px;padding: 20px 0;

    @media (width <= 768px) {
        flex-direction: column;gap: 15px;
        margin: 0 20px;
    }

    input, select {
        display: block;
        width: 100%;box-sizing: border-box;padding: 14px 18px;
        color: var(--blanc);background-color: var(--dark);
        font-family: Inter, sans-serif;font-size: 1rem;font-weight: 500;
        border: 1px solid var(--clair2);border-radius: 0;
        transition: 0.3s all ease;
        appearance: none;

        &::placeholder {
            color: var(--clair);
            font-weight: 400;
        }

        &:focus {
            background-color: var(--bleu);
            border-color: var(--bleu-ciel);box-shadow: 0 0 0 2px rgb(42 163 204 / 20%);outline: none;
        }

        &:hover:not(:focus) {
            border-color: var(--clair);
        }
    }

    select {
        cursor: pointer;
        
        option {
            color: var(--blanc);background-color: var(--bleu);
        }
    }
}