/* src/styles/styles.scss */

@use 'utiles/fonts';
@use 'utiles/variables';

@use 'utiles/composants';

@use 'composants/ingredient';

@use 'sections/header';
@use 'sections/filter-bar';
@use 'sections/panel-recette';
@use 'sections/list-recette';
@use 'sections/ajout-ingredient';

.no-scroll {
    overflow: hidden;
}

body {
    background-color: var(--bleu);
    color: var(--blanc);
    margin: 0;
    padding: 0;
}

.logo-site {
  height: 50px; width: auto;
}