/* src/styles/styles.scss */

@use 'utiles/fonts';
@use 'utiles/variables';

@use 'utiles/composants';

@use 'composants/ingredient';
@use 'composants/card-recette';

@use 'sections/header';
@use 'sections/filter-bar';
@use 'sections/panel-recette';
@use 'sections/list-recette';
@use 'sections/ajout-ingredient';

@use 'pages/ajout-recette';

.no-scroll {
    overflow: hidden;
}

body {
    background-color: var(--bleu);
    color: var(--blanc);
    margin: 0;
    padding: 0;

    .page {
    }

    main {
      margin: 30px;
    }
}

.logo-site {
  height: 50px; width: auto;
}